@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap')
$blur-radius: .002vw
$spread-radius: .002vw
$font: 'Ubuntu', sans-serif
$bebas: 'Bebas Neue', cursive
$float-top-first-line: 32% // was 35%
$float-top-second-line: 47% // was 50%
$float-top-third-line: 62% // was 65%
$float-top-first-line-snd: 34.5% // was 37.5%
$float-top-second-line-snd: 49.5% // was 52.5%
$float-top-third-line-snd: 64.5% // was 67.5%
$socket-chat-range: 18%
$socket-chat-range-vertical: 200%
.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  overflow: hidden
  background-color: #000000
  width: 100vw
a
  text-decoration: none
  color: #fff
html
  font-size: 1vw
::-webkit-scrollbar
  width: 0
.model
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  width: 100vw
  z-index: -1 // without z-index this element is above others non "absoluted" elements
  height: 100vh
.inside
  position: absolute
  width: 50vw
  height: 50vw
  border: solid 4px #0ff
  box-shadow: inset 0 0 $blur-radius $spread-radius #0ff, 0 0 $blur-radius $spread-radius #0ff
  animation: cycle-color-changer 24s infinite
  transition: transform 1.2s
.square
  top: 33.5vh
  left: 54%
  transform: rotate(30deg)
.circle
  left: -20.5%
  top: 82vh
  border-radius: 50%
  animation-delay: -8s
section
  left: 0
  display: flex
  flex-direction: column
  min-height: 100vh
  width: 100vw
  transition: transform 1.2s
.scroller
  position: fixed
  z-index: 1
  top: 50%
  transform: translateY(-50%)
  right: 2vw
  height: 14vw
  width: 1vw
  display: flex
  flex-direction: column
  justify-content: space-between
  .click-area
    cursor: pointer
    width: 100%
    height: 4vw
    display: flex
    justify-content: center
    align-items: center
    .scroll-pointer
      position: absolute
      height: 4vw
      width: .25vw
      transition: transform .5s
    .rd-scroll-pointer
      background-color: #f0f
    .bl-scroll-pointer
      background-color: #0ff
    .wh-scroll-pointer
      background-color: #fff
header
  height: 12vh
  width: 90vw
  margin: 0 auto
  display: flex
  align-items: flex-end
  justify-content: flex-end
  .logo
    position: absolute
    top: 5vh
    left: 10vw
    cursor: pointer
    min-height: 18.5645833vw
    min-width: 7.8125vw
    animation: centreater 16s infinite
    svg
      height: 7.8125vw
      position: absolute
      transform-origin: 0 0 0
    svg:nth-child(3n+1)
      transform: rotate(30deg)
    svg:nth-child(3n+2)
      transform: rotate(15deg) translate3d(-20%,20%,0)
      // animation: foot-appear 16s infinite
      display: none
    svg:nth-child(3n) 
      transform: scale(-1, 1)
    svg:nth-child(3) 
      animation: rd-lightning 16s infinite
    svg:nth-child(6) 
      animation: bl-lightning 16s infinite
    svg:nth-child(9) 
      animation: wh-lightning 16s infinite
    .bl 
      left: 0.16741071vw
      animation: bl-glow-controller 16s infinite
    .rd 
      left: -0.16741071vw
      animation: rd-glow-controller 16s infinite
  nav
    color: #fff
    height: 5vh
    display: flex
    align-items: center
    width: 30vw
    .burger-label, .burger-stick
      position: absolute
      top: 5vh
      right: 6.7vw
      width: 6vw
      height: 6vw
      cursor: pointer
      display: none
    .burger-label
      z-index: 2
      opacity: 0
    .burger-stick
      transition: all .5s
      z-index: 1
    .stick-wh-top
      background: linear-gradient(to bottom, transparent 29%, #ffffff 30%, #ffffff 35%, transparent 36%)
    .stick-wh-bottom
      background: linear-gradient(to top, transparent 29%, #ffffff 30%, #ffffff 35%, transparent 36%)
    #burger-menu
      display: none
    #burger-menu:checked ~ .stick-wh-top
      transform: rotate(135deg) translateY(15%)
    #burger-menu:checked ~ .stick-wh-bottom
      transform: rotate(-135deg) translateY(-15%)
    .navigation
      width: 100%
      justify-content: space-between
      height: 100%
      display: flex
      align-items: center
      li
        list-style-type: none
        font-family: $font
        font-size: 1.25rem
        transition: .2s border, padding
      li:hover
        border-bottom: #fff solid 0.15vw
        padding: 0 0 .15vw

.offer
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  display: flex
  flex-direction: column 
  color: #fff
  .svg-wrapper
    height: 15.625vw
    width: 84.7916667vw
    .alakazam-wrapper
      position: absolute
      height: 15.625vw
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      svg
        height: 15.625vw
        width: 84.7916667vw
        position: absolute
      .wh-kazam
        fill: transparent
        animation: fillin .3s ease forwards 3.5s
      .rd-kazam, .bl-kazam
        opacity: 0
      .rd-kazam
        animation: show-red .5s ease-in-out forwards 3.8s
      .bl-kazam
        animation: show-blue .5s ease-in-out forwards 3.8s
      .wh-kazam path:nth-child(1)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards
      .wh-kazam path:nth-child(2)
        stroke-dasharray: 829.9999389648438
        stroke-dashoffset: 829.9999389648438
        animation: appear 1s ease forwards .2s
      .wh-kazam path:nth-child(3)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards .4s
      .wh-kazam path:nth-child(4)
        stroke-dasharray: 1337.063232421875
        stroke-dashoffset: 1337.063232421875
        animation: k-appear 1s ease forwards 1s
      .wh-kazam path:nth-child(5)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards 1s
      .wh-kazam path:nth-child(6)
        stroke-dasharray: 1059.3604736328125
        stroke-dashoffset: 1059.3604736328125
        animation: z-appear 1.5s ease forwards 2s
      .wh-kazam path:nth-child(7)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-appear 1.5s ease forwards 2s
      .wh-kazam path:nth-child(8)
        stroke-dasharray: 2190.4130859375
        stroke-dashoffset: 2190.4130859375
        animation: m-appear 1.5s ease forwards 2s
  h1, h2
    font-family: $font
    font-weight: 400
    margin: 1vw 0
    width: 100%
    padding: 0 12vw
  h2
    text-align: right
  .alakazam-mobile
    display: none

.description
  display: flex
  padding: 2.5vw 0 0 8vw
  height: 20vh
  .face
    width: 8vw
    display: flex
    justify-content: center
    align-items: center
    img
      width: 8vw
      z-index: -2
  .text-about
    font-size: 1rem
    font-family: $font
    color: #ffffff
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 3vw
.floating-icons-wrapper
  height: 60vh
  width: 100vw
  .float-wrapper
    padding: 8vw 8vw 0
    position: absolute
    width: 100%
    height: 60vh
    display: grid
    grid-template-columns: 8vw 15vw 19vw 19vw 15vw 8vw
    .wrapper .tilter
      a
        display: flex
        justify-content: center
        align-items: center
      a, img
        max-height: 3vw
        position: absolute
.esSixOpacityCh, .babelOpacityCh
  animation: ranger 12s infinite linear
.cssOpacityCh, .gitOpacityCh
  animation: ranger 12s infinite linear -4s // because of right half -4s delay
.svgOpacityCh
  animation: ranger 12s infinite linear -9s
.animationOpacityCh
  animation: ranger 12s infinite linear -13s // because of right half -4s delay
.vueOpacityCh
  animation: ranger 12s infinite linear -6s
.stitchOpacityCh
  animation: ranger 12s infinite linear -10s // because of right half -4s delay
.canvasOpacityCh
  animation: ranger 12s infinite linear -3s
.spaOpacityCh
  animation: ranger 12s infinite linear -7s // because of right half -4s delay
.flexBoxOpacityCh
  animation: ranger 12s infinite linear -10s // because element has been moved due to making a triangle
.cssGridOpacityCh
  animation: ranger 12s infinite linear -14s // because of right half -4s delay
.htmlOpacityCh
  animation: ranger 12s infinite linear -6s
.sassOpacityCh
  animation: ranger 12s infinite linear -10s // because of right half -4s delay
.jsOpacityCh
  animation: ranger 12s infinite linear -2s
.webpackOpacityCh
  animation: ranger 12s infinite linear -6s // because of right half -4s delay
.itemOpacityMax
  display: none
.item:hover .itemOpacityMax
  display: flex
.item:hover .stitchOpacityCh
  height: 0
.tilter
  position: absolute
  transform: rotate(45deg)
  display: flex
  justify-content: center
  align-items: center
.wrapper
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
.wrapper:nth-child(1)
  padding-bottom: 10vw
.wrapper:nth-child(2), .wrapper:nth-child(5)
  padding-bottom: 8vw
  .ring
    .item:nth-child(1)
      top: 0
      left: 50%
    .item:nth-child(2)
      bottom: 20%
      left: 0
    .item:nth-child(3)
      bottom: 20%
      right: 0

.wrapper:nth-child(3), .wrapper:nth-child(4)
  padding-bottom: 10vw
  .ring
    .item:nth-child(1)
      top: 0
      left: 0
    .item:nth-child(2)
      top: 0
      right: 0
    .item:nth-child(3)
      bottom: 0
      right: 0
    .item:nth-child(4)
      bottom: 0
      left: 0
  
.wrapper:nth-child(6)
  padding-bottom: 5vw
.wrapper:nth-child(1), .wrapper:nth-child(6)
  .tilter
    width: 8vw
    height: 8vw
    max-height: 14vh
    .ring
      width: 11vw
      max-width: 19vh
      height: 11vw
      max-height: 19vh
.wrapper:nth-child(2), .wrapper:nth-child(5)
  .tilter
    width: 15vw
    height: 15vw
    max-height: 26vh
    .ring
      width: 20vw
      max-width: 35vh
      height: 20vw
      max-height: 35vh
.wrapper:nth-child(3), .wrapper:nth-child(4)
  .tilter
    width: 19vw
    height: 19vw
    max-height: 33vh
    .ring
      width: 26vw
      max-width: 46vh
      height: 26vw
      max-height: 46vh
.l-ring
  animation: rotator 12s infinite linear
  .item
    animation: fixer 12s infinite linear
.r-ring
  animation: rotator 12s infinite linear -4s
  .item
    animation: fixer 12s infinite linear -4s
.ring
  position: absolute
  transform: rotateY(-85deg)
  transform-style: preserve-3d
  // background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%)
  border-radius: 50%
  .item
    transform: rotateY(90deg)
    img
      transform: rotate(-45deg)
  
@keyframes rotator
  100%
    transform: rotateY(-85deg) rotateZ(-360deg)
  
@keyframes fixer
  100%
    transform: rotateY(90deg) rotateX(-360deg)
  
@keyframes ranger
  0%
    opacity: .5
  12.5%
    opacity: 0.25
  25%
    opacity: 0.25
  50%
    opacity: .8
  75%
    opacity: 1
  100%
    opacity: .5



.made-with-css-wrapper
  height: 20vh
  width: 100%
  padding: 0 8vw
  display: none
  justify-content: space-around
  align-items: flex-end
  color: #ffffff
  overflow: hidden
  div
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    font-family: $bebas
    font-size: 8rem
    transform: translateY(-100%)
    height: 100%  
    p
      height: 100% // so it always fits inside normaly and not depends to the aspect ratio
  div:nth-child(1)
    animation: fall-from-top .5s ease-out forwards
  div:nth-child(2)
    animation: fall-from-top .5s ease-out forwards 1s
  div:nth-child(3)
    animation: fall-from-top .25s ease-out forwards 2s
  div:nth-child(4)
    animation: this 2s ease-out forwards 2.25s
  div:nth-child(5)
    animation: hands 1.25s ease-out forwards 3s
  .changeable-text
    flex-direction: column
    justify-content: space-around
    height: 200%
    p
      height: 50% !important // so it always fits inside normaly and not depends to the aspect ratio
  .first-text
    animation: hide 4s ease-out forwards

.works-mob
  display: none
  div
    height: 50vh
    .description-block
      margin-top: 50vh
      width: 100%
      height: 0
      display: flex
      justify-content: space-between
      align-items: center
      overflow: hidden
      transition: all .5s
      .used
        display: flex
        align-items: center
      .used, .visit
        height: 50%
        padding: 0 1vw
        p
          font-family: $font
          color: #fff
          font-size: 0px
          padding: 0
          border-style: solid
          border-width: 0
          border-color: #fff
          cursor: pointer
          transition: all .5s
        p:hover
          background-color: #fff
          color: #000
          border: solid .1vw #fff
        p, a
          margin: 0 .5vw
        img
          height: 100%
  div:hover
    .description-block
      margin-top: 40vh
      height: 20%
    .used p
      font-size: 2rem
      padding: .5vw 1.5vw
      border-style: solid
      border-width: .2vw
      border-color: #fff
    
  .erarta
    background: url(../assets/err.png) no-repeat center / cover
  .movie-db
    background: url(../assets/moviedb.png) no-repeat center / cover
  .snake
    background: url(../assets/snake.png) no-repeat center / cover
  .monty-hall
    background: url(../assets/doors2.png) no-repeat center / cover
  .lthr
    background: url(../assets/lthr2.png) no-repeat center / cover
  .calc
    background: url(../assets/calc.jpg) no-repeat center / cover
  .filler3
    background-color: #00f
  .filler4
    background-color: #0b650f
.websocket-chat
  width: 100%
  height: 100%
  background: url(../assets/warp.png) no-repeat top center / cover
  display: flex
  justify-content: center
  align-items: center
  .svg-resolver
    width: 100%
    height: 100%
  svg
    max-height: (100vh / 25)
    position: absolute
    opacity: 0
  .websocket
    width: 10vw
    max-width: 17.7777777778vh
    // max-width: (100vw / 6)
  .chat
    width: 100vw / 22.5
    max-width: ((100vh / 22.5) * 1.77777777778)
    // max-width: (100vw / 13.5)
  .tt-websocket
    animation: websocket-chat-fst 4s linear forwards infinite
  .miami-chat
    animation: websocket-chat-fst 4s linear forwards infinite 2s
  .yl-websocket
    animation: websocket-chat-second 4s linear forwards infinite
  .pur-chat
    animation: websocket-chat-second 4s linear forwards infinite 2s
  .rd-websocket
    animation: websocket-chat-last 4s linear forwards infinite
  .acid-chat
    animation: websocket-chat-last 4s linear forwards infinite 2s
.works-desk
  padding: 5vw 0 0 5vw
  width: 95vw
  height: 100vh
  overflow: hidden
  .hex-wrapper
    width: 100%
    height: 90%
    display: flex
    justify-content: center
    align-items: center
    .hexagon
      background-color: #404040
      display: none
      img
        height: 100%
        transition: transform .5s
    .hexagon:hover
      img
        transform: scale(1.2)
    .control
      display: flex
      img
        height: 25%
      .colorer
        position: absolute
        width: 0
        height: 0
        background-color: #ffffff
        opacity: .5
        animation: expander 1s forwards
        clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)
    .control-right
      transform: translate(210%, 0)
    .control-left
      transform: translate(-210%, 0)
    .hexagon, .control
      overflow: hidden
      width: 20vw * .866
      height: 20vw
      max-width: 33vh * .866
      max-height: 33vh
      position: absolute
      clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)
      cursor: pointer
      justify-content: center
      align-items: center
    .hexagon:nth-child(1)
      animation: hex-one .5s ease-in forwards 2.5s
    @keyframes hex-one
      to
        transform: translate(105%, 0)
    .hexagon:nth-child(2)
      animation: hex-two .5s ease-in forwards 2.5s
    @keyframes hex-two
      to
        transform: translate(157.5%, 75% + (2.5% * 1.732))
    .hexagon:nth-child(3)
      animation: hex-three .5s ease-in forwards 2.5s
    @keyframes hex-three
      to
        transform: translate(-105%, 0)
    .hexagon:nth-child(4)
      animation: hex-four .5s ease-in forwards 2.5s
    @keyframes hex-four
      to
        transform: translate(-52.5%, 75% + (2.5% * 1.732))
    .hexagon:nth-child(5)
      animation: hex-five .5s ease-in forwards 2.5s
    @keyframes hex-five
      to
        transform: translate(52.5%, 75% + (2.5% * 1.732))
    .hexagon:nth-child(6)
      animation: hex-six .5s ease-in forwards 2.5s
    @keyframes hex-six
      to
        transform: translate(-52.5%, -75% - (2.5% * 1.732))
    .hexagon:nth-child(7)
      animation: hex-seven .5s ease-in forwards 2.5s
    @keyframes hex-seven
      to
        transform: translate(52.5%, -75% - (2.5% * 1.732))
    .hexagon:nth-child(8)
      animation: hex-eight .5s ease-in forwards 2.5s
    @keyframes hex-eight
      to
        transform: translate(-157.5%, -75% - (2.5% * 1.732))
    .hexagon:nth-child(10)
      animation: hex-ten .5s ease-in forwards 2.5s
    @keyframes hex-ten
      to
        transform: translate(-157.5%, 75% + (2.5% * 1.732))
    .hexagon:nth-child(11)
      animation: hex-eleven .5s ease-in forwards 2.5s
    @keyframes hex-eleven
      to
        transform: translate(157.5%, -75% - (2.5% * 1.732))
    .skin
      background-color: #ecbcb4
    .eye
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      width: 50%
      height: 50% * .866
      background-color: #fff
      border-radius: 75% 0%
      transform: rotate(45deg)
      .shazam
        position: absolute
        font-size: 2rem
        font-family: $bebas
        transform: rotate(-45deg)
        animation: shazam-to-top .5s ease-in forwards 2s
      .pupil
        position: absolute
        height: 50%
        width: 50%
        transform: rotate(-45deg) translate(0, 0)
        box-shadow: inset 0 0 10px #000
        border-radius: 50%
        background-color: #34558b
        animation: eye-to-start 2.5s ease-in
        display: flex
        justify-content: center
        align-items: center
        .black
          width: 70%
          height: 70%
          background-color: #000
          border-radius: 50%
  .paginate
    display: flex
    justify-content: center
    align-items: center
    height: 10%
    .page
      cursor: pointer
      width: 1vw
      height: 1vw
      max-width: 1.777777778vh
      max-height: 1.777777778vh
      background-color: #afafaf
      border-radius: 50%
      margin: 0.25vw
    .page:nth-child(1)
      background-color: #fff

@media (max-width: 1279px)
  .filler3, .filler2, .monty-hall
    display: none
  .websocket
    max-width: (100vw / 4)
  .chat
    max-width: (100vw / 9)

@media (max-width: 991px)
  body
    overflow: auto
  .mobile-hidden
    display: none
  .scroller
    display: none
  .model
    height: 100%
    min-height: 300vh
  .inside
    width: 100vw
    height: 100vw
  .square
    top: 11.7vh
    left: 72.5%
  .circle
    top: 77.31vh
    left: -68.35%
  header, header nav, .hidden-nav, .navigation li, .navigation
    transition: all .5s !important
  header
    height: auto
    margin-bottom: 10vh
    nav
      height: auto
      width: 100%
      align-items: flex-start
      #burger-menu:checked ~ .hidden-nav
        height: auto !important
        justify-content: flex-start
        li
          opacity: 1 !important
          font-size: 6rem
          margin: 8vw 0
        li:nth-child(1)
          margin: calc(8vw + 5vh) 0 8vw 0
        li:nth-child(3)
          margin: 8vw 0 0 0
      .navigation
        display: block
        width: 100vw
        height: auto
        margin-top: calc(5vh + 6vw)
        li
          text-align: center
          width: 100%
          opacity: 0
        li:hover
          border: none
          padding: 0
  header nav .burger-label, header nav .burger-stick
    display: flex
  .offer
    position: static
    transform: translateY(0)
    margin: 0 0 10vh 0
    .svg-wrapper
      display: none
    h1
      margin: 5vh 0 0 0
    h2
      margin: 0
    h1, h2
      font-size: 3rem
    .alakazam-mobile
      display: flex
      width: 100vw
      padding: 0 0 0 10vw
      svg 
        height: calc(70vh - 6vw)
  .description
    flex-direction: column
    padding: 0
    height: auto
    .face
      margin: 0 auto 5vh
      width: 30vw
      img
        width: 30vw
        z-index: -2
    .text-about
      p
        font-size: 3.75rem
      .counter-wrapper
        margin-bottom: 5vh

  section .works-mob
    display: grid
    grid-template-columns: repeat(1, 1fr)
    height: auto
    width: 100%
  .websocket-chat svg
    max-height: (100vh / 15) !important
    width: auto !important
  .websocket
    max-width: (100vw / 2) !important
  .chat
    max-width: (100vw / 4.5) !important

@media (max-width: 800px)
  header
    .logo
      left: 15vw
      svg
        min-height: 7.8125vw * 2
      .bl 
        left: 0.16741071vw * 2
      .rd 
        left: -0.16741071vw * 2
    nav
      .burger-label, .burger-stick
        width: 12vw
        height: 12vw
  
  @keyframes rd-lightning
    30%
      left: -0.16741071vw * 2
    35% 
      transform: scale(-1, 1)
      left: 0
    45%
      transform: rotate(-150deg) translate3d(-180%,-40%,0)
      left: 0
    50%
      left: -0.16741071vw * 2
    80% 
      left: -0.16741071vw * 2
    85%
      transform: rotate(-150deg) translate3d(-180%,-40%,0)
      left: 0
    95%
      transform: scale(-1, 1)
      left: 0
  @keyframes bl-lightning
    30%
      left: 0.16741071vw * 2.2
    35%
      transform: scale(-1, 1)
      left: 0
    45%
      transform: rotate(-150deg) translate3d(-180%,-40%,0)
      left: 0
    50%
      left: 0.16741071vw * 2.2
    80%
      left: 0.16741071vw * 2.2
    85%
      transform: rotate(-150deg) translate3d(-180%,-40%,0)
      left: 0
    95%
      transform: scale(-1, 1)
      left: 0
  @keyframes rd-glow-controller
    30%
      left: -0.16741071vw * 2
    35%
      left: 0
    45%
      left: 0
    50%
      left: -0.16741071vw * 2
    80%
      left: -0.16741071vw * 2
    85%
      left: 0
    95%
      left: 0
    100%
      left: -0.16741071vw * 2
  @keyframes bl-glow-controller
    30%
      left: 0.16741071vw * 2.2
    35%
      left: 0
    45%
      left: 0
    50%
      left: 0.16741071vw * 2.2
    80%
      left: 0.16741071vw * 2.2
    85%
      left: 0
    95%
      left: 0
    100% 
      left: 0.16741071vw * 2.2
@media (max-width: 600px)
  section .works-mob
    div
      height: (100vh / 3)
      .description-block
        margin-top: (100vh / 3)
    div:hover
      .description-block
        margin-top: (100vh / 3) * .8


@keyframes websocket-chat-fst
  0%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  40%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  50%
    opacity: 0
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  100%
    opacity: 0
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
@keyframes websocket-chat-second
  0%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  12.5%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  25%
    transform: translateY(0) translateX(0)
  40%
    opacity: 1
    transform: translateY(0) translateX(0)
  50%
    opacity: 0
    transform: translateY(0) translateX(0)
  100%
    opacity: 0
@keyframes websocket-chat-last
  0%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  12.5%
    opacity: 1
    transform: translateY(-$socket-chat-range-vertical) translateX(-$socket-chat-range)
  25%
    transform: translateY(0) translateX(0)
  37.5%
    transform: translateY($socket-chat-range-vertical) translateX($socket-chat-range)
  40%
    opacity: 1
    transform: translateY($socket-chat-range-vertical) translateX($socket-chat-range)
  50%
    opacity: 0
    transform: translateY($socket-chat-range-vertical) translateX($socket-chat-range)
  100%
    opacity: 0

@keyframes hide
  99%
    opacity: 1
  100%
    opacity: 0
@keyframes this
  12.5%
    transform: translateY(0)
  75%
    transform: translateY(0)
  87.5%
    transform: translateY(-100%)
  100%
    transform: translateY(50%)
@keyframes hands
  40%
    transform: translateY(0)
  60%
    transform: translateY(0)
  80%
    transform: translateY(-100%)
  100%
    transform: translateY(50%)
@keyframes fall-from-top
  to
    transform: translateY(0)
@keyframes lifecycle-fst
  25%
    transform: perspective(500px) translateX(6vw) translateY(3vw) translateZ(-2vw)
  50%
    transform: perspective(500px) translateZ(-3vw)
  75%
    transform: perspective(500px) translateX(-6vw) translateY(-3vw) translateZ(-2vw)
@keyframes lifecycle-opacity
  25%
    opacity: .1
  75%  
    opacity: .1
@keyframes lifecycle-snd
  25%
    transform: perspective(500px) translateX(-6vw) translateY(-3vw) translateZ(-2vw)
  50%
    transform: perspective(500px) translateX(0) translateY(0) translateZ(0)
  75%
    transform: perspective(500px) translateX(6vw) translateY(3vw) translateZ(-2vw)
@keyframes lifecycle-snd-opacity
  25%
    opacity: .1
  50%
    opacity: 1
  75%
    opacity: .1

@keyframes appear
  to
    stroke-dashoffset: 0
@keyframes a-usual-appear
  99%
    stroke-dasharray: 1278.7528076171875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes k-appear
  99%
    stroke-dasharray: 1337.063232421875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes z-appear
  80%
    stroke-dashoffset: 300
  100%
    stroke-dashoffset: 0
@keyframes a-appear
  80%
    stroke-dashoffset: 500
  99%
    stroke-dasharray: 1278.7528076171875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes m-appear
  80%
    stroke-dashoffset: 800
  99%
    stroke-dasharray: 2190.4130859375
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes fillin
  to
    fill: white
@keyframes show-red
  0%
    opacity: 1
  50%
    transform: translateX(-.5vw)
  100%
    opacity: 1
    fill: #f0f
    transform: translateX(-.25vw)
@keyframes show-blue
  0%
    opacity: 1
  50% 
    transform: translateX(.5vw)
  100%
    opacity: 1
    fill: #0ff
    transform: translateX(.25vw)

@keyframes cycle-color-changer
  33%
    border: solid 4px #f0f
    box-shadow: inset 0 0 $blur-radius $spread-radius #f0f, 0 0 $blur-radius $spread-radius #f0f
  66%
    border: solid 4px #f00
    box-shadow: inset 0 0 $blur-radius $spread-radius #f00, 0 0 $blur-radius $spread-radius #f00

@keyframes foot-appear
  25% 
    opacity: 1
  35% 
    opacity: 0
  95% 
    opacity: 0
  100% 
    opacity: 1

@keyframes centreater 
  35% 
    transform: translateY(0)
  45% 
    transform: translateY(17%)
  85% 
    transform: translateY(17%)

@keyframes wh-lightning 
  35% 
    transform: scale(-1, 1)
  45% 
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
  85% 
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
  95% 
    transform: scale(-1, 1)
  
@keyframes rd-lightning
  30%
    left: -0.16741071vw
  35% 
    transform: scale(-1, 1)
    left: 0
  45%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  50%
    left: -0.16741071vw
  80% 
    left: -0.16741071vw
  85%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  95%
    transform: scale(-1, 1)
    left: 0
@keyframes bl-lightning
  30%
    left: 0.16741071vw
  35%
    transform: scale(-1, 1)
    left: 0
  45%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  50%
    left: 0.16741071vw
  80%
    left: 0.16741071vw
  85%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  95%
    transform: scale(-1, 1)
    left: 0

@keyframes rd-glow-controller
  30%
    left: -0.16741071vw
  35%
    left: 0
  45%
    left: 0
  50%
    left: -0.16741071vw
  80%
    left: -0.16741071vw
  85%
    left: 0
  95%
    left: 0
  100%
    left: -0.16741071vw
@keyframes bl-glow-controller
  30%
    left: 0.16741071vw
  35%
    left: 0
  45%
    left: 0
  50%
    left: 0.16741071vw
  80%
    left: 0.16741071vw
  85%
    left: 0
  95%
    left: 0
  100% 
    left: 0.16741071vw

@keyframes expander
  100%
    height: 200%
    width: 200%
    opacity: 0

@keyframes shazam-to-top
  100%
    transform: rotate(-45deg) translate(0, -50vw)
@keyframes eye-to-start
  0%
    transform: rotate(-45deg) translate(0, 50vw)
  80%
    transform: rotate(-45deg) translate(0, 50vw)
  100%
    transform: rotate(-45deg) translate(0, 0)