@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap')
$blur-radius: .002vw
$spread-radius: .002vw
$font: 'Ubuntu', sans-serif
$bebas: 'Bebas Neue', cursive
$float-top-first-line: 32% // was 35%
$float-top-second-line: 47% // was 50%
$float-top-third-line: 62% // was 65%
$float-top-first-line-snd: 34.5% // was 37.5%
$float-top-second-line-snd: 49.5% // was 52.5%
$float-top-third-line-snd: 64.5% // was 67.5%

*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background-color: #000000
  width: 100vw
a
  text-decoration: none
  color: #fff
html
  font-size: 1vw
::-webkit-scrollbar
  width: 0
.model
  position: absolute
  top: 0
  left: 0
  width: 100vw
  min-height: 300vh
  overflow: hidden
  z-index: -1 // without z-index this element is above others non "absoluted" elements
.inside
  position: absolute
  width: 50vw
  height: 50vw
  border: solid 4px #0ff
  box-shadow: inset 0 0 $blur-radius $spread-radius #0ff, 0 0 $blur-radius $spread-radius #0ff
  animation: cycle-color-changer 24s infinite
.square
  top: 33.5vh
  left: 54%
  transform: rotate(30deg)
.circle
  left: -20.5%
  top: 82vh
  border-radius: 50%
  animation-delay: 8s
body section
  position: absolute
  left: 0
  display: flex
  flex-direction: column
  height: 100vh
  width: 100vw
body section:nth-child(4)
  top: 100vh
body section:nth-child(5)
  top: 200vh
.scroller
  position: fixed
  z-index: 1
  top: 50%
  transform: translateY(-50%)
  right: 2vw
  height: 14.5833333334vw
  width: 0.4166666667vw
  display: flex
  flex-direction: column
  justify-content: space-between
  .click-area
    width: 100%
    height: 4.1666666667vw
    display: flex
    justify-content: center
    align-items: center
    .wh-scroll-pointer
      height: 100%
      width: 50%
      background-color: #fff
header
  height: 10vh
  width: 80vw
  margin: 5vh auto
  display: flex
  align-items: center
  justify-content: flex-end
  .logo
    position: absolute
    top: 5vh
    left: 10vw
    cursor: pointer
    min-height: 18.5645833vw
    min-width: 7.8125vw
    animation: centreater 16s infinite
    svg
      height: 7.8125vw
      position: absolute
      transform-origin: 0 0 0
    svg:nth-child(3n+1)
      transform: rotate(30deg)
    svg:nth-child(3n+2)
      transform: rotate(15deg) translate3d(-20%,20%,0)
      // animation: foot-appear 16s infinite
      display: none
    svg:nth-child(3n) 
      transform: scale(-1, 1)
    svg:nth-child(3) 
      animation: rd-lightning 16s infinite
    svg:nth-child(6) 
      animation: bl-lightning 16s infinite
    svg:nth-child(9) 
      animation: wh-lightning 16s infinite
    .bl 
      left: 0.16741071vw
      animation: bl-glow-controller 16s infinite
    .rd 
      left: -0.16741071vw
      animation: rd-glow-controller 16s infinite
  nav
    color: #fff
    height: 100%
    display: flex
    align-items: center
    width: 30vw
    ul
      width: 100%
      display: flex
      justify-content: space-between
      height: 100%
      display: flex
      align-items: center
      li
        list-style-type: none
        font-family: $font
        font-size: 1.25rem
        transition: .2s border, padding
      li:hover
        border-bottom: #fff solid 0.2vw
        padding: 0 0 .2vw

.offer
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  display: flex
  flex-direction: column 
  color: #fff
  .svg-wrapper
    height: 15.625vw
    width: 84.7916667vw
    .alakazam-wrapper
      position: absolute
      height: 15.625vw
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      svg
        height: 15.625vw
        width: 84.7916667vw
        position: absolute
      .wh-kazam
        fill: transparent
        animation: fillin .3s ease forwards 3.5s
      .rd-kazam, .bl-kazam
        opacity: 0
      .rd-kazam
        animation: show-red .5s ease-in-out forwards 3.8s
      .bl-kazam
        animation: show-blue .5s ease-in-out forwards 3.8s
      .wh-kazam path:nth-child(1)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards
      .wh-kazam path:nth-child(2)
        stroke-dasharray: 829.9999389648438
        stroke-dashoffset: 829.9999389648438
        animation: appear 1s ease forwards .2s
      .wh-kazam path:nth-child(3)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards .4s
      .wh-kazam path:nth-child(4)
        stroke-dasharray: 1337.063232421875
        stroke-dashoffset: 1337.063232421875
        animation: k-appear 1s ease forwards 1s
      .wh-kazam path:nth-child(5)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-usual-appear 1s ease forwards 1s
      .wh-kazam path:nth-child(6)
        stroke-dasharray: 1059.3604736328125
        stroke-dashoffset: 1059.3604736328125
        animation: z-appear 1.5s ease forwards 2s
      .wh-kazam path:nth-child(7)
        stroke-dasharray: 1278.7528076171875
        stroke-dashoffset: 1278.7528076171875
        animation: a-appear 1.5s ease forwards 2s
      .wh-kazam path:nth-child(8)
        stroke-dasharray: 2190.4130859375
        stroke-dashoffset: 2190.4130859375
        animation: m-appear 1.5s ease forwards 2s
  h1, h2
    font-family: $font
    font-weight: 400
    margin: 1vw 0
    width: 100%
    padding: 0 12vw
  h2
    text-align: right

.description
  display: flex
  padding: 2.5vw 0 0 8vw
  height: 20vh
  .face
    width: 8vw
    display: flex
    justify-content: center
    align-items: center
    img
      width: 8vw
  .text-about
    font-size: 1rem
    font-family: $font
    color: #ffffff
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 3vw
.they-all-float
  height: 60vh
  a
    display: flex
    justify-content: center
    align-items: center
  a, img
    position: absolute
    max-height: 5vw
  .itemOpacityMax
    display: none
  .item:hover .itemOpacityMax
    display: flex
  .stitch:hover .sndOpacityCh 
    max-height: 2.4vw // could be display none, but it'd pause an animation
  .fstOpacityCh
    animation: lifecycle-opacity 9s infinite linear
  .fst
    animation: lifecycle-fst 9s infinite linear
  .sndOpacityCh 
    opacity: .1
    animation: lifecycle-snd-opacity 9s infinite linear
  .snd
    transform: perspective(500px) translateZ(-3vw)
    animation: lifecycle-snd 9s infinite linear
  .SVG
    top: $float-top-first-line
    left: 27.5%
  .html5
    top: $float-top-first-line
    left: 47.5%
  .SPA
    top: $float-top-first-line
    left: 67.5%
  .css
    top: $float-top-second-line
    left: 40%
  .js
    top: $float-top-second-line
    left: 60%
  .cssgrid
    top: $float-top-third-line
    left: 32.5%
  .es6
    top: $float-top-third-line
    left: 52.5%
  .babel
    top: $float-top-third-line
    left: 72.5%

  .webpack
    top: $float-top-first-line-snd
    left: 32.5%
  .animation
    top: $float-top-first-line-snd
    left: 52.5%
  .git
    top: $float-top-first-line-snd
    left: 72.5%
  .flexbox
    top: $float-top-second-line-snd
    left: 40%
  .sass
    top: $float-top-second-line-snd
    left: 60%
  .stitch
    top: $float-top-third-line-snd
    left: 27.5%
  .canvas
    top: $float-top-third-line-snd
    left: 47.5%
  .vue
    top: $float-top-third-line-snd
    left: 67.5%

.made-with-css-wrapper
  height: 20vh
  width: 100%
  padding: 0 8vw
  display: flex
  justify-content: space-around
  align-items: flex-end
  color: #ffffff
  overflow: hidden
  div
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    font-family: $bebas
    font-size: 8rem
    transform: translateY(-100%)
    height: 100%  
  div:nth-child(1)
    animation: fall-from-top .5s ease-out forwards
  div:nth-child(2)
    animation: fall-from-top .5s ease-out forwards 1s
  div:nth-child(3)
    animation: fall-from-top .25s ease-out forwards 2s
  div:nth-child(4)
    animation: this 2s ease-out forwards 2.25s
  div:nth-child(5)
    animation: hands 1.25s ease-out forwards 3s
  .changeable-text
    flex-direction: column
    justify-content: space-around
    height: 200%
  .first-text
    animation: hide 4s ease-out forwards

.shazam-wrapper
  position: absolute
  z-index: 1
  top: 50%
  left: 50%
  display: flex
  color: #fff
  text-transform: uppercase
  font-family: $bebas
  font-size: 16rem
  p
    animation: move-shazam 2s linear forwards
.works
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: repeat(3, 1fr)
  // div 
  //   height: (100vh / 3)
  //   width: (100vw / 3)
  //   overflow: hidden
  .erarta
    // background-color: #f86420
    background: url(../assets/err.png) no-repeat center / cover
  .movie-db
    // background-color: #f00
    background: url(../assets/moviedb.png) no-repeat center / cover
  .snake
    // background-color: #ca1697
    background: url(../assets/snake.png) no-repeat center / cover
  .monty-hall
    // background-color: #fecb2f
    background: url(../assets/doors2.png) no-repeat center / cover
  .lthr
    // background-color: #ff0
    background: url(../assets/lthr2.png) no-repeat center / cover
  .calc
    // background-color: #6bcc25
    background: url(../assets/calc.jpg) no-repeat center / cover
  .websocket-chat
    // background-color: #ef88ef
    background: url(../assets/warp.png) no-repeat top center / cover
    .float-wrapper
      position: absolute
      height: (100vh / 3)
      width: (100vw / 3)
      display: flex
      justify-content: center
      align-items: center
      svg
        max-height: 2vw
        position: absolute
        // top: 2vw
        // left: 2vw
        opacity: 0
      // .chat
      //   transform: translateX(80%)
      .tt-websocket
        animation: websocket-chat-fst 4s linear forwards infinite
      .miami-chat
        animation: websocket-chat-fst 4s linear forwards infinite 2s
      .yl-websocket
        animation: websocket-chat-second 4s linear forwards infinite
      .pur-chat
        animation: websocket-chat-second 4s linear forwards infinite 2s
      .rd-websocket
        animation: websocket-chat-last 4s linear forwards infinite
      .acid-chat
        animation: websocket-chat-last 4s linear forwards infinite 2s
  .filler3
    background-color: #00f
  .filler4
    background-color: #0b650f
  

@keyframes websocket-chat-fst
  0%
    opacity: 1
    top: 2vw
    left: 2vw
  40%
    opacity: 1
    top: 2vw
    left: 2vw
  50%
    opacity: 0
    top: 2vw
    left: 2vw
  100%
    opacity: 0
    top: 2vw
    left: 2vw
@keyframes websocket-chat-second
  0%
    opacity: 1
    // top: 2vw
    // left: 2vw
    transform: translateX(2vw) transalteY(2vw)
  12.5%
    opacity: 1
    // top: 2vw
    // left: 2vw
  25%
    // top: 8vw
    // left: 8vw
  40%
    // top: 8vw
    // left: 8vw
    opacity: 1
  50%
    // top: 8vw
    // left: 8vw
    opacity: 0
  100%
    opacity: 0
@keyframes websocket-chat-last
  0%
    opacity: 1
    // top: 2vw
    // left: 2vw
    transform: translateX(2vw) transalteY(2vw)
  12.5%
    opacity: 1
    // top: 2vw
    // left: 2vw
    transform: translateX(2vw) transalteY(2vw)
  25%
    // top: 8vw
    // left: 8vw
  37.5%
    // top: 14vw
    // left: 14vw
    bottom: 2vw
    right: 2vw
  40%
    // top: 14vw
    // left: 14vw
    bottom: 2vw
    right: 2vw
    opacity: 1
  50%
    // top: 14vw
    // left: 14vw
    bottom: 2vw
    right: 2vw
    opacity: 0
  100%
    opacity: 0
@keyframes show-works
  to
    height: 100%
    width: 100%
    transform: translateX(0) translateY(0)
    opacity: 1

@keyframes move-shazam
  0%
    transform: translateX(8vw)
    opacity: 0
  25%
    transform: translateX(0)
    opacity: 1
  50%
    transform: translateX(-8vw)
    opacity: 0
  100%
    opacity: 0

@keyframes hide
  99%
    opacity: 1
  100%
    opacity: 0
@keyframes this
  12.5%
    transform: translateY(0)
  75%
    transform: translateY(0)
  87.5%
    transform: translateY(-100%)
  100%
    transform: translateY(50%)
@keyframes hands
  40%
    transform: translateY(0)
  60%
    transform: translateY(0)
  80%
    transform: translateY(-100%)
  100%
    transform: translateY(50%)
@keyframes fall-from-top
  to
    transform: translateY(0)
@keyframes lifecycle-fst
  25%
    transform: perspective(500px) translateX(6vw) translateY(3vw) translateZ(-2vw)
  50%
    transform: perspective(500px) translateZ(-3vw)
  75%
    transform: perspective(500px) translateX(-6vw) translateY(-3vw) translateZ(-2vw)
@keyframes lifecycle-opacity
  25%
    opacity: .1
  75%  
    opacity: .1
@keyframes lifecycle-snd
  25%
    transform: perspective(500px) translateX(-6vw) translateY(-3vw) translateZ(-2vw)
  50%
    transform: perspective(500px) translateX(0) translateY(0) translateZ(0)
  75%
    transform: perspective(500px) translateX(6vw) translateY(3vw) translateZ(-2vw)
@keyframes lifecycle-snd-opacity
  25%
    opacity: .1
  50%
    opacity: 1
  75%
    opacity: .1

@keyframes appear
  to
    stroke-dashoffset: 0
@keyframes a-usual-appear
  99%
    stroke-dasharray: 1278.7528076171875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes k-appear
  99%
    stroke-dasharray: 1337.063232421875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes z-appear
  80%
    stroke-dashoffset: 300
  100%
    stroke-dashoffset: 0
@keyframes a-appear
  80%
    stroke-dashoffset: 500
  99%
    stroke-dasharray: 1278.7528076171875
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes m-appear
  80%
    stroke-dashoffset: 800
  99%
    stroke-dasharray: 2190.4130859375
    stroke-dashoffset: 0
  100%
    stroke-dasharray: 0
    stroke-dashoffset: 0
@keyframes fillin
  to
    fill: white
@keyframes show-red
  0%
    opacity: 1
  50%
    transform: translateX(-.5vw)
  100%
    opacity: 1
    fill: #f0f
    transform: translateX(-.25vw)
@keyframes show-blue
  0%
    opacity: 1
  50% 
    transform: translateX(.5vw)
  100%
    opacity: 1
    fill: #0ff
    transform: translateX(.25vw)

@keyframes cycle-color-changer
  33%
    border: solid 4px #f0f
    box-shadow: inset 0 0 $blur-radius $spread-radius #f0f, 0 0 $blur-radius $spread-radius #f0f
  66%
    border: solid 4px #f00
    box-shadow: inset 0 0 $blur-radius $spread-radius #f00, 0 0 $blur-radius $spread-radius #f00

@keyframes foot-appear
  25% 
    opacity: 1
  35% 
    opacity: 0
  95% 
    opacity: 0
  100% 
    opacity: 1

@keyframes centreater 
  35% 
    transform: translateY(0)
  45% 
    transform: translateY(17%)
  85% 
    transform: translateY(17%)

@keyframes wh-lightning 
  35% 
    transform: scale(-1, 1)
  45% 
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
  85% 
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
  95% 
    transform: scale(-1, 1)
  
@keyframes rd-lightning
  30%
    left: -0.16741071vw
  35% 
    transform: scale(-1, 1)
    left: 0
  45%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  50%
    left: -0.16741071vw
  80% 
    left: -0.16741071vw
  85%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  95%
    transform: scale(-1, 1)
    left: 0
@keyframes bl-lightning
  30%
    left: 0.16741071vw
  35%
    transform: scale(-1, 1)
    left: 0
  45%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  50%
    left: 0.16741071vw
  80%
    left: 0.16741071vw
  85%
    transform: rotate(-150deg) translate3d(-180%,-40%,0)
    left: 0
  95%
    transform: scale(-1, 1)
    left: 0

@keyframes rd-glow-controller
  30%
    left: -0.16741071vw
  35%
    left: 0
  45%
    left: 0
  50%
    left: -0.16741071vw
  80%
    left: -0.16741071vw
  85%
    left: 0
  95%
    left: 0
  100%
    left: -0.16741071vw

@keyframes bl-glow-controller
  30%
    left: 0.16741071vw
  35%
    left: 0
  45%
    left: 0
  50%
    left: 0.16741071vw
  80%
    left: 0.16741071vw
  85%
    left: 0
  95%
    left: 0
  100% 
    left: 0.16741071vw

@media (max-width: 991px)
  .inside
    width: 100vw
    height: 100vw
  .square
    top: 11.7vh
    left: 72.5%
  .circle
    top: 77.31vh
    left: -68.35%